.Home-Elight-div
{
    background-image: url("https://images-static.nykaa.com/uploads/9d100298-daa3-48bc-8df3-70cc0ffb9e72.jpg?tr=cm-pad_resize,w-1200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}